@import 'reset';
@import 'variables/global';
@import 'themes/dark-theme';
@import 'themes/light-theme';

body {
  font: var(--font-m);
}

.app {
  width: 100vw;
  min-height: 100vh;

  color: var(--primary-color);
  background-color: var(--app-background);
}

.pade-content {
  position: relative;
  display: flex;
  height: calc(100vh - var(--navbar-height));
}

.main {
  flex-grow: 1;
}
