.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__error {
    color: var(--error-color);
  }
}