.sidebar {
  &__container {
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: var(--sidebar-index);

    width: var(--sidebar-width);
    height: 90vh;

    overflow: hidden;

    background-color: var(--secondary-background);

    border-radius: 15px;

    box-shadow: 0 0 10px rgb(0 0 0 / 50%);

    transition: width 0.2s ease-in-out;
  }

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    width: 100% ;
    padding-top: 15px;
  }

  &__switchers {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  &__toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;

    width: 30px;
    height: 30px;

    cursor: pointer;

    border-radius: 50%;

    transition: all 0.2s linear;

    transform: translateY(-50%) rotate(90deg);

    &:hover {
      transition: all 0.2s linear;
      transform: translateY(-50%) rotate(90deg) scale(1.2);
    }

    &.collapsed {
      right: 50%;
      transition: all 0.2s linear;
      transform: translate(50%, -50%) rotate(-90deg);
    }
  }

  &__container.collapsed {
    width: var(--sidebar-width-collapsed);

    .sidebar__switchers {
      flex-direction: column-reverse;
    }
  }
}