.profile {
  width: 100%;
  max-width: 780px;
  padding: 20px;

  background-color: var(--secondary-background);
  border-radius: 20px;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 32px;
  }

  &__avatar {
    max-width: 128px;
    border-radius: 50%;
  }

  &__edit-icon {
    path {
      stroke: var(--icon-color);
    }

    &_editable {
      animation: pulse 1300ms infinite;

      path {
        stroke: var(--success-color);
      }
    }
  }

  &__edit-button {
    position: absolute;
    top: 0;
    right: 0;

    &:hover path {
      stroke: var(--success-color);
    }
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}