.app-link {
  position: relative;
  text-decoration: none;

  &::before {
    position: absolute;
    content: '';
    opacity: 0;
  }

  &:hover::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 100%;
    max-height: 2px;
    content: '';
    background-color: var(--accent-color);
    opacity: 1;
    transform: translateY(-50%);
  }

  &.primary {
    color: var(--primary-color);
  }

  &.secondary {
    color: var(--secondary-color);
  }

  &.primary, &.secondary {
    &.active {
      color: var(--accent-color);

      &::before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 30px;
        background: linear-gradient(90deg, var(--accent-color-link-opacity-30) 0%, var(--secondary-background) 100%);
        border-left: 2px solid var(--accent-color);
        opacity: 1;
        animation-name: link-animation;
        animation-duration: 0.3s;
      }

      &::after {
        opacity: 0;
      }
    }

    &.isSidebarCollapsed::before {
      opacity: 0.5;
    }
  }
}

@keyframes link-animation {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}


