.app-button {
  cursor: pointer;
  transition: all 0.1s linear;
  color: var(--primary-color);

  &.primary {
    padding: 10px 15px;
    background-color: var(--primary-background);
    border: none;
    border-radius: 5px;
  }

  &.clear {
    background-color: transparent;
    border: none;
    outline: none;
  }

  &.outlined {
    border: 1px solid var(--primary-color);
  }

  &.secondary {
    padding: 10px 15px;
    color: var(--secondary-color);
    background-color:var(--secondary-background);
    border: none;
    border-radius: 5px;
  }

  &.error {
    color: var(--error-color);
  }
}
