.appButton {
  cursor: pointer;
  transition: all 0.1s linear;

  &.primary {
    padding: 10px 15px;
    background-color: lightsalmon;
    border: none;
    border-radius: 5px;
  }

  &.clear {
    background-color: transparent;
    border: none;
    outline: none;
  }
}
