.app-button {
  cursor: pointer;
  transition: all 0.1s linear;
  color: var(--primary-color);

  &.primary {
    padding: 10px 15px;
    background-color: var(--inverted-primary-color);
    border: none;
    border-radius: 5px;
  }

  &.clear {
    background-color: transparent;
    border: none;
    outline: none;
  }

  &.outlined {
    border: 1px solid red;
  }

  &.secondary {
    padding: 10px 15px;
    background-color:var(--inverted-background-color);
    border: none;
    border-radius: 5px;
  }
}
