:root {
  --app-background: #0C1214;
  --primary-background: #090F11;
  --secondary-background: #151C1F;

  --primary-color: #DBDBDB;
  --secondary-color: #555555;

  --error-color: #D95757;
  --success-color: #6CD98B;

  --icon-color: #74A2B2;

  --accent-color: #5ED3F3;
  --accent-color-link-opacity-30: rgba(94, 211, 243, 0.3);
}