.light-theme {
  --app-background: #EFF5F6;
  --primary-background: #FFFFFF;
  --secondary-background: #E2EEF1;

  --modal-border: rgb(20 28 31 / 10%);


  --primary-color: #141C1F;
  --secondary-color: #ADBCC0;

  --error-color: #D95757;
  --success-color: #6CD98B;

  --icon-color: #74A2B2;

  --accent-color: #449db5;
  --accent-color-link-opacity-30: rgb(94 211 243 / 30%);
}