.light-theme {
  --app-background: #EFF5F6;
  --primary-background: #FFFFFF;
  --secondary-background: #E2EEF1;

  --modal-border: rgb(20 28 31 / 10%);


  --primary-color: #141C1F;
  --secondary-color: #ADBCC0;
}